/* #define Bitmap 20001 */

/* Bitmap BITMAP "winnt256.bmp" */
/* #include "tbg_tc.h" */
/* Not Change !!! */
#define FONTBGI      30000
#define _DEFAULT_CHR 30001
#define _SIMP_CHR    30002
#define _TRIP_CHR    30003
#define _LITT_CHR    30004
#define _SANS_CHR    30005
#define _GOTH_CHR    30006
#define _SCRI_CHR    30007
#define _TSCR_CHR    30008
#define _LCOM_CHR    30009
#define _EURO_CHR    30010
#define _BOLD_CHR    30011
/* Not Change !!! */
_DEFAULT_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "SIMP.CHR"
_BOLD_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "BOLD.CHR"
_LITT_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "LITT.CHR"
_TRIP_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "TRIP.CHR"
_SANS_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "SANS.CHR"
_GOTH_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "GOTH.CHR"
_SCRI_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "SCRI.CHR"
_SIMP_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "SIMP.CHR"
_TSCR_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "TSCR.CHR"
_LCOM_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "LCOM.CHR"
_EURO_CHR FONTBGI LOADONCALL DISCARDABLE MOVEABLE "EURO.CHR"




