;Это файл задания номеров цветов,которые будут печататься на принтере.

;   Для конкретного рисунка их можно подбирать индивидуально,
;заданием не нулевого числа после кода номера цвета.
;   При задании цвета воспринимается только два первых параметра -
;остальное комментарий цвета.

; Это комментарий !!!
; Комментарии и пустые строки не воспринимаются !!!

;  Формат задания цвета:
;  номер_цвета ненулевой_код_задания любые_комментарии
;  Например,печатаются цвета(когда откомментированны):
;  0           1                      BLACK
;  1           1                      BLUE
;  2           1                      GREEN


; КОДИРОВКА 16-ти СТАНДАРТНЫХ ЦВЕТОВ
; Заданные для печати цвета откомментированы.
;--------------------------------------------
; 0  1 BLACK        (черный)
  8  1 DARKGRAY     (темно-серый)
 
  1  1 BLUE         (синий)
  9  1 LIGHTBLUE    (светло-синий)
  
; 2  1 GREEN        (зеленый)
;10  1 LIGHTGREEN   (светло-зеленый)

; 3  1 CYAN         (голубой)
;11  1 LIGHTCYAN    (светло-голубой)

  4  1 RED          (красный)
 12  1 LIGHTRED     (светло-красный)
 
; 5  1 MAGENTA      (сиреневый)
;13  1 LIGHTMAGENTA (светло-сиреневый)

; 6  1 BROWN        (коричневый)
;14  1 YELLOW       (желтый)

; 7  1 LIGHTGRAY    (светло-серый)
;15  1 WHITE        (белый)

;--------------------------------------------
